PORT=3000
NODE_ENV=development

GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=your_google_sheet_id_here

EMAIL_USER=your-email@gmail.com
EMAIL_APP_PASSWORD=your16charapppassword

ADMIN_USERNAME=grv_admin
ADMIN_PASSWORD=change_this_password
JWT_SECRET=change_this_to_a_random_string
